.main-btn {
	position: relative;
    display: inline-block;
    min-width: 174px;
    color: #fff;
    padding: 14px 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    background: $mainColor;
    border: 1px solid $mainColor;
    border-radius: 16px;
    outline: none;
	@include transition(all .4s ease-in-out);
	&:hover {
		color: #fff;
		background: $hoverColor;
		border: 1px solid $hoverColor;
    }
	&:focus {
	    @extend %btn-style;
    }
}

.custom-btn {
    background: transparent;
    border: 1px solid #fff;
}